:root{
    --main-color:#6F8B9C;
    --border-raduis:5px;
    --card-color: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    
}

body{
    width: 95%;
    margin: auto;
}

a{
    text-decoration: none;
    color: var(--card-color);
}

.header{
    background-color: var(--main-color);
    border-radius: var(--border-raduis);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header .logoContainer{
    width: 15%;
    text-align: center;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--card-color);
    font-family: "Playwrite ES Deco Guides", serif;
}

.header i{
    display: none;
}
.info{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    color: var(--card-color);
    align-items: center;
}

@media (max-width: 768px) {
    body{
        width: 95%;

    }

    a img{
        width: 150px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header i{
        display: block;
        color: var(--card-color);
        font-size: 25px;
        margin: 0px 10px;
    }
    
    .header i:hover{
        cursor: pointer;
    }

    .info{
        display: none;
    }
}



.pContainer{
    height: 85vh;
    display: flex;
    background-color: var(--main-color);
    border-radius: 5px;
    border-top-right-radius: 0px;
    position: relative;
}
@media (max-width: 768px) {
    .pContainer{
        flex-direction: column;
        height: 85%;
        background-color: var(--main-color);
        border-top-left-radius: 0px;
    }
}

.pContainer .left{
    width: 15%;
    background-color: var(--main-color);
    border-bottom-left-radius: 5px;
}

.pContainer .left form{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    .pContainer .left{
        width: 100%;
        display: none;
    }
    .pContainer .actionForm{

        flex-direction: row;
    }

}


.pContainer .left .actionBtn{
    width: 90%;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--main-color);
    background-color: var(--card-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px #ccc;
    transition: all 0.1s ease;
}
.pContainer .left .actionBtn:active {
    box-shadow: 0 2px #ccc;
    transform: translateY(3px);
}
@media (max-width: 768px) {
    .pContainer .left .actionBtn{
        width: 90%;
        padding: 10px;
        margin: 5px;
    }

}

.pContainer .right{
    width: 85%;
    border-radius: 5px;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0px ; 
}

@media (max-width: 768px) {
    .pContainer .right{
        width: 95%;
        padding-top: 20px;
        margin: 10px;
    }

}

.pContainer .right .cContainer{
    background-color: var(--card-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}
@media (max-width: 768px) {
    .pContainer .right .cContainer{
        width: 90%;
    }

}

.success-message {
    width: 25%;
    height: 20%;
    background-color: var(--card-color);
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-50%);
    display: none;
}

.success-message h2 {
    margin: 0 0 10px;
}

.success-message p {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}
caption {
    caption-side: top;
    font-size: 2rem;
    font-weight: bold;
    color: var(--card-color);
    background-color: var(--main-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}
@media(max-width: 600px) {
    table{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    thead{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    tbody{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    th {
        display: none; 
    }
    tr {
        width: 100%;
        border-bottom: 4px solid #ddd;
    }
    td {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
    }
    caption{
        font-size: 1.5rem;
    }
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #ff1a1a;
}
@media(max-width: 600px){
    .delete-button{
        padding: 5px 10px;
        font-size: 14px;
    }
}

.form-container {
    max-width: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-container input[type="text"],
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-container p{
    caption-side: top;
    font-size: 2rem;
    font-weight: bold;
    color: var(--card-color);
    background-color: var(--main-color);
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

@media(max-width: 600px) {
.cContainer{
    margin-bottom: 20px;
}
.form-container{
    margin: 5px;
}

}

